<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{titulo}}</h1>
        <!-- v-model conecta el HTML con el JavaScript -->   
        <input type="text" v-model="nuevaFruta" @keyup.enter="agregarFruta">  
        <button type="button" @click="agregarFruta">Agregar</button>
        <ul>
            <li v-for="fruta of frutas">{{fruta.nombre}}</li>
        </ul>
        <div v-for="fruta of frutas">
            <p class="frutas" v-if="fruta.cantidad === 0">El stock del {{fruta.nombre}} es 0 </p>
        </div>
        <!-- para añadir más clases hay que hacer un Array -->
        <div class="container m-5">
            <div :class="['p-3', 'text-white', fondo]">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, consequuntur doloribus molestias ullam corporis quo maiores atque quas repudiandae aspernatur reprehenderit! Repellat asperiores officia labore soluta neque mollitia ex fugit?</p>
            </div>
            <input type="text" class="form-control my-3" v-model="fondo">
            <div class="container text-white p-3" :class="{'bg-info' : color, 'bg-primary' : !color}">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos ullam, obcaecati corporis eos atque repellendus voluptate sequi ipsam. Recusandae, tempora non rem sint eligendi consequatur fuga. Ducimus facere voluptates iure!</p>
            </div>
            <button class="btn btn-primary m-3" @click="color = !color">Cambiar color</button>
        </div>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="/app.js"></script>
</body>
</html>