body{
    margin: 0;
    padding: 0;
}

h1{
    padding: 2rem;
    background: ghostwhite;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

ul{
    display: flex;
    width: 100%;
    background: navajowhite;
    margin: 0;

}
li{
    padding: 1rem;
    list-style: none;
}