body{
    margin: 0;
    padding: 0;
}

h1{
    padding: 2rem;
    background: ghostwhite;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

ul{
    display: flex;
    width: 100%;
    background: navajowhite;
    margin: 0;

}
li{
    padding: 1rem;
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}

.frutas{
    padding: 3rem;
    background: rgb(180, 230, 250);
    margin: 3rem;
    text-align: center;
}